@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lora:ital@1&family=Oleo+Script&family=Roboto+Slab&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: Lora;
}